.learn-more {
  position: relative;

  padding: 4px 60px 4px 20px;
  border-radius: 38px;

  color: $primary;
  font-size: 13px;
  line-height: 1rem;

  background: $secondary;
  cursor: pointer;

  text-decoration: none;

  &::after {
    position: absolute;
    top: 35%;
    right: 15px;

    width: 35px;
    height: 8px;

    background: url('../../public/images/button-arrow.svg');

    content: '';
  }
}

@media screen and (max-width: 768px) {
  .learn-more {
    padding: 4px 15px;

    font-size: 12px;

    &::after {
      display: none;
    }
  }
}