.services-list {
  &__content {
    background-image: url('../../public/images/services-list-bg.webp');
  }

  &__container {
    display: flex;
    flex-wrap: wrap;
    gap: 26px;
    align-items: center;
    justify-content: center;
    max-width: 950px;
    margin: 20px 0;
    padding: 0 10px;
  }

  &__title {
    margin: 80px 0;
  }
}

@media screen and (max-width: 1600px) {
  .services-list {
    &__title {
      margin: 30px 0;
    }
  }
}


@media screen and (max-width: 992px) {
  .services-list {
    &__container {
      max-width: 700px;
    }
  }
}

@media screen and (max-width: 568px) {
  .services-list {
    &__title {
      margin: 20px 0;
    }
  }
}